<h1>Editing Forum</h1>

<%= render 'form', forum: @forum %>

<%= link_to 'Show', @forum, class: 'btn btn-primary btn-sm' %> |
<%= link_to t('forums.edit.index'), forums_path, class: 'btn btn-primary btn-sm' %>
