<h1>Editing Forum Category</h1>

<%= render 'form', forum_category: @forum_category %>

<%= link_to 'Show', @forum_category, class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', forum_categories_path, class: 'btn btn-primary btn-sm' %>
