<table>
<% @user.followings.each do |user| %>
	<tr>
	  <td>
	  	<%= user.user_info.user_name %>
  	</td>
	  <td>
	  	<%= link_to '詳細', {controller: :user_infos, action: :show, id: user.user_info.user_name} %>
	  	<%= link_to(image_tag("mail_micro.jpg"), {controller: :dmessages, action: :new, receiver_id: user.id}) %>
	  </td>
	</tr>
<% end %>
</table>