<table>
<% @user.followers.each do |user| %>
	<tr>
	  <td>  <%= user.user_info.name %> </td>
	  <td><%= link_to '詳細', {controller: :user_infos, action: :show, id: user.user_info.name} %></td>
	</tr>
<% end %>
</table>
