<h1>Editing Schedule</h1>

<%= render 'form', schedule: @schedule %>

<%= link_to 'Show', @schedule, class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', schedules_path, class: 'btn btn-primary btn-sm' %>
