<h1>Editing Page</h1>

<%= render 'form', page: @page, note: @note %>

<%= link_to 'Show', @page, class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', pages_path, class: 'btn btn-primary btn-sm' %>
