				<h1>Editing Pref</h1>

				<%= render 'form', pref: @pref %>

				<%= link_to 'Show', @pref, class: 'btn btn-primary btn-sm' %> |
				<%= link_to 'Back', prefs_path, class: 'btn btn-primary btn-sm' %>
