// Place all the styles related to the lounges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_info_modal {
  position: fixed;
	border: 2px solid gray;
	width: 220px;
	height: 300px;
  top: 100px;
  left: 100px;
	background-color: white;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}